<div class="container">
     <%= image_tag @outfit.image_url, alt: "outfit image", id: 'show-image' %>
  <div class="d-flex mt-5 gap-5">
    <div class="outfit-info">
      <h2><%= @outfit.name.capitalize %></h2>
      <p><%= @outfit.description %></p>
    </div>
    <div class="form-booking">
      <%= render 'booking_form' %>
    </div>
  </div>
</div>