<div class="container">
  <%= image_url "https://images.unsplash.com/photo-1597294718646-54e9a083d45f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=784&q=80", alt: "outfit image" %>
  <div class= "d-flex">
    <div class="outfit-info">
      <h2><%= @outfit.name %></h2>
      <p><%= @outfit.description %></p>
    </div>
    <div>
      <%= render 'booking_form' %>
    </div>
  </div>
</div>