<div class="container my-4">
  <h2>My bookings</h2>
  <div class="cards">
    <% if @bookings.empty? %>
      <p>No bookings yet...</p>
    <% else %>
      <% @bookings.each do |booking| %>
        <%= render 'card_booking', booking: booking %>
      <% end %>
    <% end %>
  </div>
</div>