<div class="banner">
  <div class="container">
    <h1><strong>Oshare</strong></h1>
    <p>Rent an awesome outfit for any occasion</p>
    <a class="btn btn-light" href="/outfits">See all outfits</a>
  </div>
</div>
