.carousel {
        margin-bottom: 4px;
        margin-top: 4px;
        position: relative;
      }

      .carousel-caption {
        bottom: 3rem;
        z-index: 10;
      }

  .carousel-item {
    height: 32rem;
  }

     .carousel-item > img {
        height: 32rem;
        object-fit: cover;
      }
