#map-index {
  position: sticky;
  top: 0px;
}

.mapboxgl-popup {
  max-width: 240px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.mapboxgl-popup-content a {
  text-decoration: none;
}
.mapboxgl-popup-content p {
  margin-bottom: 0px;
}

.mapboxgl-popup-content img{
  max-width: 150px;
  max-height: 200px;
  margin: 0px;
}
