#map-index {
  position: sticky;
  top: 0px;
}

.mapboxgl-popup {
  max-width: 240px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup-content {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;

  .category {
    font-size: 12px;
    position: absolute;
    background-color: white;
    right: 8px;
    top: -6px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .size {
    font-size: 12px;
    position: absolute;
    background-color: white;
    left: 8px;
    top: -6px;
    padding: 4px 8px;;
    border-radius: 4px;
    font-weight: bold;
  }
}

.mapboxgl-popup-content a {
  text-decoration: none;
}
.mapboxgl-popup-content p {
  margin-bottom: 0px;
}

.mapboxgl-popup-content h2 {
  font-size: 16px;
  margin-top: 16px;
  font-weight: bold;
}

.mapboxgl-popup-content img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0px;
  font-weight: bold;
}
