.booking {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0;

  .booking-left {
    display: flex;
    align-items: flex-start;
  }

  .booking-actions {
    display: flex;
    align-items: flex-start;
  }

  .booking-tag {
    padding: 8px 16px;
    background-color: $light-gray;
    border-radius: 8px;
    font-weight: lighter;
    font-size: 14px;
  }
}

.booking-info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;

  .booking-info-title {
    font-weight: bolder;
    font-size: 1.2em;
    margin: 0;
  }

  .booking-info-details {
    font-weight: lighter;
  }
}

.booking-info-tag {
  padding: 4px 16px;
  background-color: $light-gray;
  border-radius: 8px;
}
